
div {
    border-style: solid;
    margin-left: 50px;
}

h1 {
    border-radius: 10px;
    border-style: groove;
    border-width: 8px;
    border-color: red;
    margin: auto ;
}

p {
    border: dotted black 5px;
    margin-top: 8px;
    margin-left: inherit;
}