

h1 {
    border: solid black;
}

h2 {
    border-radius: 30px;
    border-style: dashed;
    border-top-width: 20px;
    border-top-style: solid;
    border-bottom-color: red
}

div {
    background-color: cyan;
}


